/*INICIO PRODUTOS*/
.produtos {
    position: relative;
    overflow: hidden;
    padding: 30px;
  }
  
  .produtosracao {
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
  }
  
  .product-container {
      
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
       margin: 0 auto;
    }
  
  
  .product-container::-webkit-scrollbar {
    display: none;
  }
  
  .product-card {
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
  }
  
  .product-image {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
  }
  
  .product-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
  }
  
  .product-card:hover .card-btn {
    opacity: 1;
  }
  
  .card-btn:hover {
    background: #145E8C;
    color: #fff;
  }
  
  .product-info {
    width: 100%;
    height: 100px;
    padding-top: 10px;
  }
  
  .product-brand {
    text-transform: uppercase;
  }
  
  .product-short-description {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
  }
  
  .price {
    font-weight: 900;
    font-size: 20px;
  }
  
  .pre-btn img,
  .nxt-btn img {
    opacity: 0.2;
  }
  
  .pre-btn:hover img,
  .nxt-btn:hover img {
    opacity: 1;
  }
  
  .collection-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  
  .collection {
    position: relative;
  }
  
  .collection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .collection p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
  }
  
  .collection:nth-child(3) {
    grid-column: span 2;
    margin-bottom: 10px;
  }

  /*Inicio do Rodape*/
* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
  }
  
  main {
    height: 80vh;
  }
  
  footer {
    width: 100%;
    color: #00010D;
  }
  
  .footer-link {
    text-decoration: none;
  }
  
  #footer_content {
    background-color: #BDEAF2;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 3rem 3.5rem;
  }
  
  #footer_contacts h1 {
    margin-bottom: 0.75rem;
  }
  
  #footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
  } 
  
  #footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: #fff;
    border-radius: 50%;
    transition: all 0.4s;
  }
  
  #footer_social_media .footer-link i {
    font-size: 1.25rem;    
  }
  
  #footer_social_media .footer-link:hover {
    opacity: 0.8;
  }
  
  #instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
  }
  
  #facebook {
    background-color: #4267b3;
  }
  
  #whatsapp {
    background-color: #25d366;
  }
  
  .footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
  }
  
  .footer-list .footer-link {
    color:   #00010D;
    transition: all 0.4s;
  }
  
  .footer-list .footer-link:hover {
    color: #145E8C;
  }
  
  #footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  #footer_subscribe p {
    color: #FFF6E9;
  }
  
  #input_group {
    display: flex;
    align-items: center;
    background-color:  #FFF6E9;
    border-radius: 4px;
  }
  
  #input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
  }
  
  #input_group button {
    background-color: #145E8C;
    border: none;
    color: #FFF6E9;
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
  }
  
  #input_group button:hover {
    opacity: 0.8;
  }
  
  #footer_copyright {
    display: flex;
    justify-content: center;
    background-color: #BDEAF2;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
  }
  
  @media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
  }
  
  @media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
  }
  
  /*Fim do Rodape*/
  
  /*Inicio Migalha de Pão*/
  ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
  }
  
  ul.breadcrumb li {
    display: inline;
    font-size: 14px;
  }
  
  ul.breadcrumb li+li:before {
    padding: 8px;
    color:#0D0D0D;
    content: "/\00a0";
  }
  
  /* Add a color to all links inside the list */
  ul.breadcrumb li a {
    color: #145E8C;
    text-decoration: none;
  }
  
  /* Add a color on mouse-over */
  ul.breadcrumb li a:hover {
    color:#0D0D0D;
    text-decoration: underline;
  }
  /*Fim Migalha de Pão*/
  
  .btn-racao{
  
    background-color: #076539;
    border: #076539;
    color: white;
  
  }
  